* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

/* colors */

.light-orange {
    background-color: var(--Light-orange);
}

.soft-blue {
    background-color: var(--Soft-blue);
}

.light-red {
    background-color: var(--Light-red);
}

.lime-green {
    background-color: var(--Lime-green);
}

.violet {
    background-color: var(--Violet);
}

.soft-orange {
    background-color: var(--Soft-orange);
}

html {
    font-size: 62.5%;
    font-family: 'Rubik',sans-serif;
}

body {
    background-color: var(--Very-dark-blue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.card-icon {
    width: 75px;
    height: 75px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 90%;
    transform: translateX(-90%);
}

.card-info {
    height: 80%;
    border-radius: 15px;
    z-index: 2;
    background-color: var(--Dark-blue);
    padding: 20px;
    position: relative;
    transition: all 0.3s ease;
}

.card-info:hover {
    cursor: pointer;
    background-color: var(--Desaturated-blue);
}

.profile-card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
}

.profile-info {
    background-color: var(--Blue);
    height: 65%;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.profile-img {
    width: 75px;
    height: 75px;
    border: 3px solid var(--Pale-Blue);
    border-radius: 50%;
    margin-top: 10px;
}

.profile-info span {
    margin-top: 30px;
    font-size: 1.8rem;
    color: var(--Pale-Blue);
}

.profile-name {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 20px;
}

.switch-time {
    height: 35%;
}

.list {
    list-style: none;
    padding: 20px 0 15px 30px;
}

.time {
    font-size: 1.8rem;
    padding: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--Pale-Blue);
    transition: color 0.3s ease;
}

.time:hover {
    color: #ffffff;
}

.active-time {
    color: #ffffff;
}

.card-title {
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-top: 10px;
}

.card-current-time {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 4rem;
    font-weight: 400;
}

.card-last-time {
    margin-top: 15px;
    color: var(--Pale-Blue);
    font-size: 1.8rem;
}

.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(-10px,15px);
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;
    color: var(--Desaturated-blue);
}

.menu-icon:hover {
    color: #ffffff;
}

@media only screen and (max-width: 758px) {
    .container {
        grid-template-columns: 300px;
        grid-template-rows: 1fr;
        justify-content: center;
        padding: 50px 0
    }

    .profile-info {
        display: flex;
        flex-direction: row;
        height: 150px;
        padding: 0 20px;
        justify-content: space-around;
        align-items: center;
    }

    .profile-card {
        height: 200px;   
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }

    .profile-name {
        font-size: 2.4rem;
        margin-top: 5px;
        padding-left: 10px;
    }

    .list {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }

    .card-time-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .card-current-time {
        font-size: 3rem;
        margin-left: 0;
    }

    .card-last-time {
        font-size: 1.6rem;
    }

}
